<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dez-config">
  <template>
    <style>
    </style>

    <iron-ajax
      auto
      url="/config.json"
      handle-as="json"
      on-response="_configHandler"
      on-error="_handleAjaxError">
    </iron-ajax>

  </template>

  <script>

  class DezConfig extends Polymer.Element {

    static get is() { return 'dez-config'; }

    _configHandler (event) {
      this.dispatchEvent(new CustomEvent('config-ready', {
        detail : event.detail.response
      }))
    }

    _handleAjaxError (event) {
      this.dispatchEvent(new CustomEvent('config-error'))
    }

  }

  window.customElements.define(DezConfig.is, DezConfig);

  </script>
</dom-module>
