<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dez-piece">
  <template>
    <style>
    </style>

    <iron-ajax
      id="ajax"
      handle-as="json"
      on-response="_pieceInfosHandler"
      on-error="_handleAjaxError">
    </iron-ajax>

  </template>

  <script>

  class DezPiece extends Polymer.Element {

    static get is() { return 'dez-piece'; }

    static get properties() {
      return {
        jwt : {
          type : String,
          observer : "_getPiece",
          value : ""
        },
        corpusLocation : {
          type : String,
          observer : "_getPiece"
        }
      }
    }

    constructor () {
      super()
      this._url = ""
      this._previousReqFailed = false;
    }

    _getPiece () {
      if (this.corpusLocation == undefined || this._pid == undefined) return
      this._wsUnreachabled = false
      this.$.ajax.url = this.corpusLocation + "/" + this._pid
      this.$.ajax.headers['Authorization'] = this.jwt?'Bearer ' + this.jwt:""
      this.$.ajax.generateRequest()
    }

    set pid (value) {
      if (value == this._pid) return
      this._pid = value
      this._getPiece()
    }

    get firstAudio () {
      let audios = this._piece.sources.audios
      if (audios && audios.length > 0) {
        return {
          file : audios[0].file,
          synchro : audios[0]["onset-date"]
        }
      } else {
        return {
          file : undefined,
          synchro : undefined
        }
      }
    }

    get analysesLocation () {
      if (this._wsUnreachabled) {
        return this._url + "analyses/list.json"
      } else {
        return this._url + "/analyses"
      }
    }

    get wsUnreachabled () {
      return this._wsUnreachabled
    }

    _pieceLocalDir(location) {
      let re = /http[s]?:\/\/[^/]*\/(.*)$/
      let match = re.exec(location)
      if (match && match.length >= 1) {
        return "../../" + match[1]
      } else {
        return location.split("/info.json")[0]
      }
    }

    _completePathsImages (array) {
      return array.map(i => {
        let iret = i
        iret.image = this._url + "/" + i.image
        iret.positions = this._url + "/" + i.positions
        return iret
      })
    }

    _completePaths (piece) {
      let ret = piece
      if (ret.sources.images) {
        ret.sources.images = this._completePathsImages(ret.sources.images)
      }
      let audios = ret.sources.audios
      if (audios && audios.length > 0) {
        audios[0].images = this._completePathsImages(audios[0].images)
        audios[0].file = this._url + "/" + audios[0].file
        audios[0]["onset-date"] = this._url + "/" + audios[0]["onset-date"]
      }
      return ret
    }

    _pieceInfosHandler (event) {
      let newUrl = event.detail.url.split("info.json")[0]
      if (this._url != newUrl || this._previousReqFailed) {
        this._previousReqFailed = false;
        this._url = newUrl
        this._piece = this._completePaths (event.detail.response)
        this._piece.corpus = this._url.split(this._piece.id)[0].split('/corpus/')[1]
        this.dispatchEvent(new CustomEvent('piece-ready', {
          detail : {
            piece : {
              infos : this._piece,
              location : this._url
            }
          }
        }))
      }
    }

    _handleAjaxError (event) {
      this._previousReqFailed = true;
      let error
      this._url = event.detail.request.url.split("info.json")[0]

      if (event.detail.request.xhr.status == 401) {
        error = {
          code : "wsUnauthorizedError",
          message : "Access unauthorized"
        }
      } else if (event.detail.request.xhr.status == 404) {
        error = {
          code : "wsMissingError",
          message : "Missing piece"
        }
      } else {
        error = {
          code : "wsUnreachabledError",
          message : "Web service is unreachabled"
        }
        // Manually redirect to local default piece
        // TODO: remove any redirect from dez-piece
        this._wsUnreachabled = true
        this.$.ajax.url = "../../corpus/bwv847/info.json"
        this.$.ajax.generateRequest()
      }
      this.dispatchEvent(new CustomEvent('piece-error', {
        detail : { error : error }
      }))
    }

  }

  window.customElements.define(DezPiece.is, DezPiece);

  </script>
</dom-module>
