<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="dez-plus-button.html">

<dom-module id="dez-plus-input">
  <template>
    <style>
      :host {
        display: flex;
        align-items: center;
      }
      #plus-btn {
        margin-right: 10px;
      }
    </style>
    <template is="dom-if" if=[[visible]]>
      <dez-plus-button
        id="plus-btn"
        visible=[[plusVisible]]
        on-tap="_plusBtnTapHandler">
      </dez-plus-button>
      <paper-input label="Sélection" value="{{value}}"></paper-input>
    </template>
  </template>

  <script>
    class DezPlusInput extends Polymer.Element {

      static get is() { return 'dez-plus-input'; }

      /**
      * Fired when plus button is taped.
      *
      * @event plus-tap
      */

      static get properties() {
        return {
          value: {
            type: String,
            notify: true,
            value: ""
          },
          visible: {
            type: Boolean,
            value: true
          },
          plusVisible: {
            type: String,
            value: true
          }
        };
      }

      _plusBtnTapHandler () {
        this.dispatchEvent (new CustomEvent('plus-tap'))
      }

    }

    window.customElements.define(DezPlusInput.is, DezPlusInput);
  </script>
</dom-module>
